/*Flotement des images*/
.compet #prog,
.compet #bdd {
    align-self: flex-end;
}


.compet > article #sys,
.compet > article #web {
    -webkit-animation: 4s linear 0s infinite alternate move_top;
    animation: 4s linear 0s infinite alternate move_top;

}

@-webkit-keyframes move_top {
    from {
        margin-top: -2%;
    }

    to {
        margin-top: 2%;
    }
}

@keyframes move_top {
    from {
        margin-top: -2%;
    }

    to {
        margin-top: 2%;
    }
}

.compet > article #bdd,
.compet > article #prog {
    -webkit-animation: 4s linear 0s infinite alternate move_bot;
    animation: 4s linear 0s infinite alternate move_bot;

}

@-webkit-keyframes move_bot {
    from {
        margin-bottom: -2%;
    }

    to {
        margin-bottom: 2%;
    }
}

@keyframes move_bot {
    from {
        margin-bottom: -2%;
    }

    to {
        margin-bottom: 2%;
    }
}


/** ANIMATION DE GROWTH **/
.portfolio button{
    transform: scale(1);
    transition: transform 2s;
}
.portfolio button:hover{
    transform: scale(1.2);
}


/** ANIMATION DE SOULIGNEMENT **/
a.middle{
    position: relative;
}
a.middle:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1c514e;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}