/** Titre **/
body{
    font-family: 'Work Sans', sans-serif;
}
h1{
    color: #f7f1e5;
    text-shadow: black -2px 2px;
    letter-spacing: 10px;
    transition: letter-spacing 4s, color 2s, text-shadow 2s;
}
h1:hover {
    color: #f9ebd0;
    letter-spacing: 50px;
    text-shadow: black -4px 4px;
}

h2{
    color:#1c514e;
    font-size: 40px;
}
h3{
    color: white;
}
h4{
    color:#df952e;
    font-size: 25px;
}
h5{
    color : #1c514e;
    font-weight: bold;
    text-align: left;
}

/** Header **/
header{
    background-color: #f7f1e5;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px 0;
}
header > div > div:first-of-type{
    display: flex;
}

header > div > div:first-of-type > ul{
    display: flex;
    list-style: none;
    margin: auto;
}
header > div >div:first-of-type > ul > li{
    margin: auto;
}

header > div > div:first-of-type > ul > li > a{
    color: black;
    text-decoration: none;
    font-size: large;
    padding: 0 0 4px 0;
}

.portfolio{
    margin: auto;
}
.portfolio button{
    padding: 10px 45px;
    border-radius: 15px;
    background-color: #1c514e;
    color: #f7f1e5;
    border: none;
}

/** Fond **/
.fond{
    background: linear-gradient(to bottom right, #1c514e, #df952e);
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Footer **/
footer{
    background-color: #1e1e1e;
    color: #f7f1e5;
}
footer > div{
    padding-top: 20px;
}
footer > div > div{
    background-color: #000;
    color: #f7f1e5;

    padding-top: 40px;
}
footer > div > div > div{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

footer hr{
    background-color: #1c514e;
    height: 1px;
    width: 66%;
}

footer > div > div > div:last-of-type{
    display: flex;
}
footer > div > div > div:last-of-type > ul{
    display: flex;
    list-style: none;
}
footer > div > div > div:last-of-type > ul > a{
    color: white;
    text-decoration: white underline;

    padding: 0 10px;
}



.eng{
    display: none;
}

.fr{
    display: block;
}


/** Bouton de langue **/

.btn-lang{
    margin: auto;
}

.tgl {
    display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
    box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
    background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
    background: none;
}

.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl + .tgl-btn:after {
    left: 0;
}

.tgl + .tgl-btn:before {
    display: none;
}

.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-skewed + .tgl-btn {
    overflow: hidden;
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: #3613a7;
}

.tgl-skewed + .tgl-btn:after,
.tgl-skewed + .tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
}

.tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
}

.tgl-skewed + .tgl-btn:active {
    background: #888;
}

.tgl-skewed + .tgl-btn:active:before {
    left: -10%;
}

.tgl-skewed:checked + .tgl-btn {
    background: #88001b;
}

.tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
}

.tgl-skewed:checked + .tgl-btn:after {
    left: 0;
}

.tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
}
