body{
    background-color: #f9ebd0;
}

hr{
    background-image: black;
    height: 20px;
    width: 100%;
}

.hr_space{
    margin-bottom: 80px;
    width: 60%;
}

/** Main **/
main{
    background-color: #e8e5cf
}
main section{
    padding: 40px 0 100px 0;
}
/** Profil **/

.profil > div{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profil > div > article{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.profil > div > article > div{
    display: flex;
    justify-content: space-between;
}
.profil > div > article > div > div {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.profil > div > article > div > div > img{
    width: 70%;
    border-radius: 100px;
    border: 10px solid #f7f1e5; ;
}

/** Centre d'intérêt **/
#centre-interet > div{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#centre-interet div div{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

#centre-interet article {
    justify-content: middle;
    width: 20%;
}

#centre-interet article img {
    background-color: white;
    border-radius: 320px;
    border: #1c514e 3px solid;
    margin: 0 0 4% 0;
}

#centre-interet article a{
    color: #ff7f00;
    font-size: 18px;
}




/** EXPERIENCES **/
.experience{
    background-image: url("../images/frise.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}
.experience > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    /*background-image: url(images/frise.png);*/
    background-repeat: no-repeat;
    background-size: cover;
}

.education > div{
    width: 100%;
}

.education > div > div:first-of-type{
    text-align: right;
}

/** COMPETENCES **/
.compet{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.compet article{
    margin: 0 0 80px 0;
}

.compet > article:first-of-type > div {
    display: flex;
    justify-content: space-between;
    height: 20em;
}

.compet > article:first-of-type img {
    border-radius: 100px;
    border: #ff7f00 3px solid;
    transition: border 2s, box-shadow 2s;
    margin: 5px;
    box-shadow: 5px 5px 0 0 black;

}

.compet > article:first-of-type img:hover {
    border: #35ff6e 3px solid;
    box-shadow: 10px 10px 0 0 black;
    opacity: 0.6;
}

.compet > article > ul{
    text-align: left;
    padding: 0 0 0 150px;
}

.compet > article > div > ul{
    text-align: left;
}

.overlay {
    position: fixed;
    left: 25%;
    top: 18%;
    width: 50%;
    height: 65%;
    background-color:#f7f1e5;
    z-index: 1;
    border-radius: 100px 10px 100px 10px;
    padding: 20px;
    text-align: center;
    box-shadow: #1c514e inset 0px 0px 5px 5px;
}

.overlay > div > div{
    display: flex;
    justify-content: space-evenly;
    margin: 0 5%;
}

.overlay > div span{
    height: 40px;
    width: 40px;
    background-color: #df952e;
}

#popupSys{
    display: none;
}
#popupProg{
    display: none;
}
#popupBdd{
    display: none;
}
#popupWeb{
    display: none;
}



/** CULTURE **/

#kultur {
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#kultur > div:last-of-type {
    display: flex;
    justify-content: center;
}

#kultur article {
    display: grid;
}

#kultur article a {
    text-decoration: none;
    background: none;
    background-image: none;
}


#kultur img {
    border: black 3px solid;
}

@media (max-width:650px) {
    #kultur div:last-of-type article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #kultur {
        margin: auto;
    }
}

/*
@media (max-width:600px) {
    #kultur article {
        grid-template-areas: "a a"
            "z z"
            "b g"
            "c c"
            "d h"
            "f f"
            "e e"
            "j j"
            "k k";
    }

    .mc {
        grid-area: a;
    }

    .naruto {
        display: none;
    }
    .genshin {
        grid-area: z;
    }


    .mytho {
        grid-area: f;
    }

    .laby {
        grid-area: j;
    }

    .lol {
        grid-area: k;
    }
    #kutlur{
        margin: 0;
    }
}
*/

@media (min-width:650px) {
    #kultur article {
        grid-template-areas: "a a b "
            "c c d "
            "f f g"
            "h h k "
            "e e i"
            "j j l"
    }

    .mc {
        grid-area: a;
    }

    .naruto {
        display: none;
    }

    .naruto2 {
        grid-area: g;
    }

    .genshin {
        grid-area: c;
    }

    .nuitinc {
        grid-area: d;
    }

    .onepiece {
        grid-area: b;
    }

    .mytho {
        grid-area: f;
    }

    .laby {
        grid-area: j;
    }

    .lol {
        grid-area: h;
    }

    .hakai {
        grid-area: k;
    }

    #kultur {
        margin: 0;
    }
}

@media (min-width:800px) {
    #kultur article {
        grid-template-areas: "a a b b"
            "c c d e"
            "f f g g"
            "h h k i"
    }

    .mc {
        grid-area: a;
    }

    .naruto2 {
        display: none;
    }

    .naruto {
        grid-area: b;
        display: block;
    }

    .genshin {
        grid-area: c;
    }

    .nuitinc {
        grid-area: d;
    }

    .onepiece {
        grid-area: e;
    }

    .mytho {
        grid-area: f;
    }

    .laby {
        grid-area: g;
    }

    .lol {
        grid-area: h;
    }

    .hakai {
        grid-area: k;
    }

    #kultur {
        margin: auto;
        margin-bottom: 50px;
        justify-content: center;
    }
}

@media (min-width:1100px) {


    .mc {
        grid-column: 3/4;
        grid-row: 3;
    }

    .genshin {
        grid-column: 1/2;
        grid-row: 1;
    }

    .naruto {
        display: block;
        grid-column: 1/2;
        grid-row: 2;
    }

    .naruto2 {
        display: none;
    }

    .mytho {
        grid-column: 3/4;
        grid-row: 1;
    }

    .nuitinc {
        grid-column: 2;
        grid-row: 1;
    }

    .laby {
        grid-column: 3/4;
        grid-row: 2;
    }

    .lol {
        grid-column: 1/2;
        grid-row: 3;
    }

    .hakai {
        grid-column: 2;
        grid-row: 3;
    }

    .onepiece {
        grid-column: 2;
        grid-row: 2;
    }
}
/*Petit texte en dessous des images qui s'affiche*/

a:hover {
    position: relative;
}

a[data]:hover:after {
    width: 100%;
    text-align: center;
    content: attr(data);
    padding: 4px 8px;
    color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 2;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
}

#kultur a:hover {
    opacity: 0.7;
}

