main{
    background-color: #e8e5cf;
}
main > h2{
    margin: 80px 60px;
    text-decoration:underline;
    text-decoration-color: #df952e;
}
hr{
    background-color: black;
    height: 8px;
    margin: 0px;
}
section{
    padding: 40px;
}

article {
    background-image: linear-gradient(to top, #585858 0%, #000000 100%);
    opacity: 0.9;
    border-radius: 20px;
    border: black 3px solid;
    color: white;
    padding: 20px;
    margin: 100px;
}

article > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
article > div img{
    margin-right: 15px;
}

article > ul:last-of-type {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
}

article a{
    color: #e8e5cf;
    font-size: 20px;
}

article a:hover{
    color: black;
    text-decoration: none;
}



.spidfk{
    background-image: url("../images/spidfk.png");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rootme{
    background-image: url("../images/rootme.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.supergame{
    background-image: url("../images/supergame.PNG");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.endorah{
    background-image: url("../images/endorah.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.keyper{
    background-image: url("../images/keyper.png");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.filmo{
    background-image: url("../images/filmo.png");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paladium{
    background-image: url("../images/paladium.png");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Menu de navigation*/
#projmenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 35%;
    margin: 0;
    padding: 10px;
    text-align: right;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: #d96000 1px solid;
    background-color: rgba(0, 0, 0, 0.8)
}

#projmenu h5{
    text-align: right;
}

#projmenu ul {
    list-style: none;
}


#projmenu a {
    color: white;
    text-decoration: none;
    background: none;
    transition: font-size 2s, color 2s;
}

#projmenu a:hover {
    font-size: 35px;
    color: #d96000;
}
#projmenu hr{
    background-color: gray;
    height: 0.1px;
}